h1 {  
    text-align:center;
}

iframe {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 25vw;
    width: 100%;
    border: none;
    overflow: hidden;
}

table {
    font-family: "Helvetica Neue";
    border-collapse: collapse;
    float: left;
    justify-content: center;
    table-layout: fixed;
    border: 1px solid #e61610;
    min-height: 300px;
}

tr {
    border-top: 1px solid #e61610;
}
  
td, th {
    text-align: left;
    padding: 8px;
    overflow: hidden;
    border: 0px;
}

td > a {
    float: right;
}

div {
	left: 0;
	right: 0;
    margin: auto;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20%;
    justify-content: center;
}

hr {
    border-color: #e61610;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    width: 50vw;
    height: 5vh;
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 30px;
}


@media screen and (max-width: 1100px) {
    iframe {
      width: 100vw;
      height: 40vw;
      display:flex;
      justify-content: center;
    }
    
    table {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
    }

    
    td {
        display:flex;
        flex-direction: column;
        text-align: center;
        width: 75vw;

    }

    .grid-container {
        display: inline;
    }
}

