<div>
    <h1>
        Contact Us
    </h1>
</div>
<div class="map-container">
    <div class="googlemap" *ngIf="showLocation1">
        <iframe scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.875676582118!2d101.71944725095143!3d3.127554154144521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc35c3530c9de9%3A0xddc9e9b963176a0!2sSTC%20Auto%20Parts%20Sdn%20Bhd!5e0!3m2!1sen!2smy!4v1579438915475!5m2!1sen!2smy"></iframe>
    </div>
    <div class="googlemap" *ngIf="showLocation2">
        <iframe scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.3036098661696!2d101.42922781475698!3d3.0128149978058705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdab619ecbb215%3A0x6ee1e3cf555bc42b!2s28%2C%20Jalan%20Sentosa%205%2C%20Taman%20Bayu%20Perdana%2C%2041200%20Klang%2C%20Selangor!5e0!3m2!1sen!2smy!4v1612067325478!5m2!1sen!2smy"></iframe>
    </div>
    <div class="locationDetail">
        <table>
            <tr>
              <td>Address:</td>
              <td>
                <a class ="btn" style="color:rgb(0, 140, 255)" (click)="displayLocation1()">No.4, Jalan 3/93A, Warisan Cityview, Batu 2½ , Off Jalan Cheras, 56100 Kuala Lumpur,Malaysia </a>
                <a class ="btn" style="color:rgb(0, 140, 255)" (click)="displayLocation2()">28, Jalan Sentosa 5, Taman Bayu Perdana, 41200 Klang, Selangor </a>
            </td>
            </tr>
            <tr>
                <td>Tel:</td>
                <td><a>603-9205 6978<br>603-9205 6979<br>603-9205 6980</a></td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td><a>603-9205 6986</a></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><a>enquiry@stcauto.com.my</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="card">
        <a>Monday</a>
        <a>09:00 - 18:30</a>
    </div>
    <div class="card">
        <a>Tuesday</a>
        <a>09:00 - 18:30</a>
    </div>
    <div class="card">
        <a>Wednesday</a>
        <a>09:00 - 18:30</a>
    </div>
    <div class="card">
        <a>Thursday</a>
        <a>09:00 - 18:30</a>
    </div>
    <div class="card">
        <a>Friday</a>
        <a>09:00 - 18:30</a>
    </div>
    <div class="card">
        <a>Saturday</a>
        <a>09:00 - 18:30</a>
    </div>
</div>
<div>
    <hr>
</div>
<div>
    <h1>
        Enquiries
    </h1>
</div>
<div class="form-container">
    <form #enquiryForm="ngForm"> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name" class="required-field">Name</label>
            <input required pattern="^[a-zA-Z0-9', ]*$" type="text" class="form-control" [(ngModel)]="requestorName" name="name" #name="ngModel"> 
            <div *ngIf="name.touched && !name.valid">
                <div class="alert alert-danger" *ngIf="name.errors.required">Please enter your name.</div>
                <div class="alert alert-danger" *ngIf="name.errors.pattern">Invalid characters detected.</div>
            </div>
        </div>
          <div class="form-group col-md-6">
            <label for="frameChassis">Frame/Chassis Number</label>
            <input pattern="^[a-zA-Z0-9',\- ]*$" maxlength="150" type="text" class="form-control" [(ngModel)]="requestorFrame" name="frameChassis" #frameChassis="ngModel">
            <div *ngIf="frameChassis.touched && !frameChassis.valid">
                <div class="alert alert-danger" *ngIf="frameChassis.errors.pattern">Invalid characters detected.</div>
                <div class="alert alert-danger" *ngIf="frameChassis.errors.maxlength">Exceeded character limit.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contactNumber">Contact Number</label>
                <input pattern="^[0-9+]*$" type="tel" class="form-control" [(ngModel)]="requestorContact" name="contactNumber" #contactNumber="ngModel">
                <div *ngIf="contactNumber.touched && !contactNumber.valid">
                    <div class="alert alert-danger" *ngIf="contactNumber.errors.pattern">Invalid characters detected.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="address">Address</label>
                <input pattern="^[a-zA-Z0-9',/ ]*$" type="text" class="form-control" [(ngModel)]="requestorAddress" name="address" #address="ngModel">
                <div *ngIf="address.touched && !address.valid">
                    <div class="alert alert-danger" *ngIf="address.errors.pattern">Invalid characters detected.</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="userEmail" class="required-field">Email</label>
                <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" [(ngModel)]="requestorMail" name="userEmail" placeholder="email@address.com" #userEmail="ngModel">
                <div *ngIf="userEmail.touched && !userEmail.valid">
                    <div class="alert alert-danger" *ngIf="name.errors.required">Please enter an email address.</div>
                    <div class="alert alert-danger" *ngIf="userEmail.errors.pattern">Invalid email.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="country">Country</label>
                <select [(ngModel)]="requestorCountry" name="country" class="form-control">
                    <option *ngFor="let item of countries" [ngValue]="item">{{item.country}}</option>
                </select>                
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="carModel">Car Model</label>
                <input pattern="^[a-zA-Z0-9',.\- ]*$" maxlength="150" type="text" class="form-control" [(ngModel)]="requestorCarModel" name="carModel" placeholder="Toyota - Camry" #carModel="ngModel">
                <div *ngIf="carModel.touched && !carModel.valid">
                    <div class="alert alert-danger" *ngIf="carModel.errors.pattern">Invalid characters detected.</div>
                    <div class="alert alert-danger" *ngIf="carModel.errors.maxlength">Exceeded character limit.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="othRemarks">Other remarks</label>
          <input pattern="^[a-zA-Z0-9',.\-?! ]*$" maxlength="500" type="text" class="form-control" [(ngModel)]="requestorRemarks" name="othRemarks" #othRemarks="ngModel">
          <div *ngIf="othRemarks.touched && !othRemarks.valid">
            <div class="alert alert-danger" *ngIf="othRemarks.errors.pattern">Invalid characters detected.</div>
            <div class="alert alert-danger" *ngIf="othRemarks.errors.maxlength">Exceeded character limit.</div>
            <div class="alert alert-danger" *ngIf="othRemarks.errors.required">Please enter an email address.</div>
          </div>
        </div>
      </form>
      <div>
        <button type="submit" [disabled]="enquiryForm.form.invalid" class="btn btn-outline-dark" (click)="SendMail()">Submit</button>
      </div>
      <div class="row"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Successfully submitted enquiry.</strong> Our team will process your enquiry and get back to you.
          </p>
        </div>
    </div>
</div>