h1 {  
    text-align:center;
}

iframe {
    display:flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 25vw;
    width: 100vw;
    border: none;
}

table {
    font-family: "Helvetica Neue";
    border-collapse: collapse;
    float: left;
    width: 50%;
    justify-content: center;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td > a {
    float: right;
}

.companyDetail > td {
    border: 0px;
}

div {
	left: 0;
	right: 0;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    iframe {
      width: 100vw;
      height: 40vw;
      display:flex;
      justify-content: center;
    }
    
    table {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
    }

    tr {
        display:flex;
        flex-direction: column;
    }

    td {
        display:flex;
        flex-direction: column;
        text-align: center;
        width: 75vw;
    }
}

