/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

a {
    font-family: "Helvetica Neue";
    font-size: 15px;
}

p {
    font-family: "Helvetica Neue";
}

h5 {
    font-size: 15px;
}
