/* You can add global styles to this file, and also import other style files */
a {
    font-family: "Helvetica Neue";
    font-size: 15px;
}

p {
    font-family: "Helvetica Neue";
}

h1 {
    font-family: "Helvetica Neue";
    color: #e61610;
}

h5 {
    font-family: "Helvetica Neue";
    font-size: 15px;
}
