<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">STC Auto - Enquiries</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group col-md-6">
                <label for="frameChassis">Frame/Chassis Number</label>
                <input type="text" class="form-control" id="frameChassis">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="contactNumber">Contact Number</label>
                    <input type="tel" class="form-control" id="contactNumber" pattern="[+]{1}[0-9]{11,14}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <select id="inputState" class="form-control">
                        <option selected>Malaysia</option>
                        <option>...</option>
                    </select>                
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="carModel">Car Model</label>
                    <input type="text" class="form-control" id="carModel" placeholder="Toyota - Camry">
                </div>
            </div>
            <div class="form-group">
              <label for="othRemarks">Other remarks</label>
              <input type="text" class="form-control" id="othRemarks">
            </div>
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Submit click')">Submit</button>
    </div>
</ng-template>

<div style="text-align: center;">
<button class="btn btn-lg btn-outline-danger" (click)="open(content)">Enquire</button>
</div>
  

  
<!-- <pre>{{closeResult}}</pre> -->