<div>
    <h1>
        STC Auto
    </h1>
</div>
<div style="overflow-x: hidden;">
    <app-carousel-home></app-carousel-home>
</div>
<div class="w-50 p-3">
    <p>
        STC Auto Parts Euro Car Parts is the leading distributor of Nissan and Toyota car parts and
        specialises in wholesale and retail markets. For the past 40 years, many auto workshops,
        dealers, and car owners have relied on the spare parts and service provided by STC.
    </p>
    <p>
        With over 50,000 parts available STC Auto Parts is Malaysia’s number 1 supplier of Nissan
        and Toyota car parts! We offer service parts at very competitive prices with delivery cross the
        whole of Malaysia. We specialise in all the major car parts - gaskets, shock absorbers, engine
        mount, clutch kits and all the essential car maintenance essentials - engine oil, car fluids. If
        you need any further information, please contact our dedicated team with expert advice and
        assistance.
    </p>
</div>
<div>
    <h1>
        Specialization
    </h1>
</div>
<div class="row">
    <div class="column">
      <img src="assets/images/Toyota red icon.png">
    </div>
    <div class="column">
      <img src="assets/images/Nissan grey icon.png">
    </div>
    <div class="column">
      <img src="assets/images/black lexus.png">
    </div>
    <div class="column">
        <img src="assets/images/infiniti black.png">
    </div>
</div>

