<div>
    <h1>
        About us
    </h1>
</div>
<div class="w-50 p-3">
    <h2>
        STC Auto Parts was founded 1980 as a wholesale motor factors based in Sungai Besi,
        Kuala Lumpur.
    </h2>
    <br>
    <p>
        It’s been a staggering 40 years since we started delivering Nissan and Toyota spare parts to
        the motor industry. Throughout this period of time we have gained huge experience, and as
        one of Malaysia&#39;s leading distributors of quality vehicle parts. Our aim is to ensure our
        customers and workshop partners have complete satisfaction from the full service we
        provide. We pride ourselves in our expertise in car parts knowledge and our exclusivity in
        only offers the absolute genuine products sourced from Japan.
    </p>
</div>
<app-carousel [pageImages]="test"></app-carousel>
<div>
    <h1>
        Our Values
    </h1>
</div>
<div class="row">
    <div class="card">
        <img class="card-img-top" src="assets/images/Value1.png" alt="Card image cap">
        <div class="card-footer bg-transparent border-danger">HONEST AND FAIR</div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/images/Value2.png" alt="Card image cap">
        <div class="card-footer bg-transparent border-danger">COMPETE TO WIN</div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/images/Value3.png" alt="Card image cap">
        <div class="card-footer bg-transparent border-danger">ESTABLISH A COVENANT OF TRUST</div>
    </div>
</div>
